*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: Trebuchet MS, 'Times New Roman', Times, serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #ffffe4
}

.header {
  display: flex;
  font-family: Trebuchet MS, 'Times New Roman', Times, serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-bottom: 10px inset rgba(35, 35, 104, 0.308);
}

.header-content {
  display: flex;
  background-image: linear-gradient(.25turn, #f1f1f1, #f1f1f1, rgb(61, 73, 145));
}

#header-logo {
  height: 400px;
  width: 400px;
  display:flex-start;
  margin-left: 70px;
  margin-top: 20px;
}

#header-right {
  display: flex-end;
  margin: 30px;
  border: 10px groove black;
  border-radius: 8px;
  background-color: #eff2fbd0;
}

#site-title {
  font-size:250%;
  letter-spacing: 2px;
  font-family: Georgia, 'Times New Roman', Times, serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 15px;
  margin-top: 30px;
  text-shadow: 2px 2px 5px rgb(238, 238, 17);
  line-height: 60px;
  font-weight:bolder;
}

.genre1-title {
  font-family: Georgia, 'Times New Roman', Times, serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#welcome {
  display:flex;
  justify-content: center;
}

#header-text {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 20px;
  line-height: 30px;
  text-align: justify;
  line-height: 1.4;
}

.col-Lg {
  width: 100px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.card {
  padding: 10%;
  margin: 5%;
  border: 4px;
  border-color: #000000;
  width: 200px;
  max-height: 400px;
  height: 350px;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  margin-top: 40px auto;
  font-size: 30px;
  letter-spacing: 0.125em;
  color: #001b44;
}

.container {
  width: 80vw;
  margin: 25px auto;
}
.search-box {
  display: block;
  color: gray;
}

.box {
  display: block;
  float: left;
  width: 31%;
  height: 200px;
  margin: 1%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 8px;
  background-color: #093145;
  text-align: center;
  line-height: 200px;
  font-size: 150px;
  color: whitesmoke;
}

.site-title {
  padding-top: 40px;
  padding-bottom: 30px;
  text-size-adjust: auto;
}

.genre2-title {
  text-align: left;
  margin-left: 50px;
}

.genre1-title {
  text-align: left;
  margin-left: 50px;
}

/* .genre1-title-box { tried to make a box around text saying "New Shows To Watch"
  padding: 5px;
  background-color: #000000;
  border-radius: 10px;
} */ 

.carousel-item img {
  max-width: 100%; /* Ensures the image does not exceed the width of the carousel */
  height: auto; /* Maintains the aspect ratio */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}


.footer {
  display:inline-block;
  width:100%;
  border-top: 5px ridge gray;
}

.footer-content {
  display: flex;
  flex-wrap:wrap;
  background-image: linear-gradient(.25turn, #f1f1f1, #f1f1f1, rgb(61, 73, 145));
}

#footer-logo {
  width: 100px;
  height: 105px;
  display: flex-start;
  flex-wrap: wrap;
}

ul#footer {
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
  float: right;
  margin:40px;
  font-weight:bolder;
  justify-content: stretch;
}

li#copyright {
  margin-left: -55px;
  margin-right: 20px;
}

li#site-footer {
  margin-left: 140px;
}

li#watchmode {
  margin-left: 200px;
}



/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
  

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa !important;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

  /* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #000000;
  color: rgb(255, 232, 28);
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #000000;
  color: rgb(253, 238, 22);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.fade {
  transition: opacity .15s linear;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#modal-container {
  background-color:#434758;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-primary {
  color: #fff;
  background-color: #000000;
  border-color: #fde50d;
  margin: 10px;
  display: flex;
    color: #fff;
    background-color: #000000;
    border-color: #fde50d;
    margin: 10px;
    display: flex;
    transition:ease-in-out .3s;
}

#button-primary:hover {
transform: scale(1.3);
}

.button-movie {
  display: inline-block;
  font-family: Georgia, 'Times New Roman', Times, serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn .button {
  text-transform: none;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#resetButton {
  color: #fff;
  background-color: #000000;
  border-color: #fded0d;
}

#submitButton {
  color: #fff;
  background-color: #000000;
  border-color: #fded0d;
}

#msg {
  visibility: hidden;
  margin-top: 20px;
  font-weight: 700;
  height: 1.2em;
  font-size: 1.2em;
}

#msg.success,
#msg.error {
  visibility: visible;
}

#msg.success {
  color: #001b44;;
}

#msg.error {
  color: #e6252c;
}


.footerEl {
  padding: 10px;
  background-color: rgba(251, 251, 251, 0.657);
  border-radius: 16px;
}

ul {
  padding-left: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card {
    width: 50px;
    height: 75px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .card {
    width: 75px;
    height: 100px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card {
    width: 150px;
    height: 200px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card {
    width: 200px;
    height: 300px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card {
    width: 250px;
    height: 350px;
  }
}

